/* You can add global styles to this file, and also import other style files */
main {
  padding-top: 3.5rem;
}

.alcumus-primary {
    background-color: #009fd9 !important;
    color: #fff !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}