/* You can add global styles to this file, and also import other style files */
main {
  padding-top: 3.5rem;
}

.alcumus-primary {
    background-color: #288fc2 !important;
    color: #fff !important;
}
