<h2 mat-dialog-title>User Settings</h2>
<mat-dialog-content>
    <p><label class="bold">Lorem: </label><label>de</label></p>
    <p><label class="bold">ipsum: </label><label>Finibus</label></p>
    <p><label class="bold">dolor: </label><label>Bonorum</label></p>
    <p><label class="bold">amet: </label><label>et</label></p>
    <p><label class="bold">consectetur: </label><label>Malorum</label></p>
    <p><label class="bold">adipiscing: </label><label>45 BC</label></p>
    <p><label class="bold">malesuada: </label><label>Cicero</label></p>
</mat-dialog-content>